<?xml version="1.0"?>

<launch>

  <!-- Setting the Initial Parameters.  -->
  <arg name="x" default="19.1153816961"/> #19.1153816961
  <arg name="y" default="-1.5781824245"/> #-1.5781824245
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Choose the environment.  -->
  <arg name="simple_sim" default= "True" />
  <arg name="with_teleoperation" default="false" />
  <arg name="use_amcl" default="false"/>
  <arg name="robot_name" default="" />
  <arg name="tf_prefix" default="" />
  <arg name="robot_model" default="$(find auto_nav)/config/robot.yaml"/>
  <arg name="model_extras" default="$(find auto_nav)/urdf/sensors_sim.xacro"/>

  <!-- Set the maps, joystick, gui -->
  <arg name="with_gui" default="False"/>
  <arg name="db_path" default="$(env HOME)/mongodb"/>
  <arg name="topo_map" default="track" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <param name="use_sim_time" value="false" />
  <arg name="map_file" default="$(find auto_nav)/maps/white_image.yaml"/>
  <arg name="world_name" value="$(find auto_nav)/worlds/tracks_world.world"/>
  <rosparam command="load" file="$(find auto_nav)/config/waypoints_topo.yaml" />

 <!-- model bringup -->
 <include file="$(find thorvald_model)/launch/model.launch">
    <arg name="robot_model" value="$(arg robot_model)" />
    <arg name="model_extras" value="$(arg model_extras)" />
 </include>

 <!-- base bringup-->
 <include file="$(find thorvald_base)/launch/base_bringup.launch">
  <arg name="robot_model" value="$(arg robot_model)" />
  <arg name="simple_sim" value="True" />
  <arg name="enable_odom_tf" value="True" />
  <arg name="odom_frame_id" value="odom" />
 </include>

 <!-- teleop bringup -->
 <include file="$(find thorvald_teleop)/launch/teleop_xbox.launch" if="$(arg with_teleoperation)">
  <arg name="joy_dev" value="$(arg joy_dev)" />
 </include>

 <!-- twist mux bringup -->
 <include file="$(find thorvald_twist_mux)/launch/twist_mux.launch" />

 <!-- Run the map server -->
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <node name="fake_localization" pkg="fake_localization" type="fake_localization" unless="$(arg use_amcl)">
            <remap from="base_pose_ground_truth" to="odometry/base_raw" />
            <param name="odom_frame_id" type="string" value="odom"/>
            <param name="base_frame_id" type="string" value="base_link"/>
  </node>

  <!-- Lane Detector -->
  <node pkg="auto_nav" name="lane_detector_video" type="lane_detector_video.py" output="screen" />

  <!-- Move Base -->
  <include file="$(find auto_nav)/launch/move_base.launch" />

  <!-- Mongodb Server  -->
  <include file="$(find mongodb_store)/launch/mongodb_store.launch">
    <arg name="db_path" value="$(arg db_path)"/>
  </include>

  <include file="$(find topological_navigation)/launch/topological_navigation.launch" >
   <arg name="map" value="$(arg topo_map)" />
 </include>

  <!-- Display -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find auto_nav)/rviz/custom_rviz_video.rviz" />

</launch>
